.about {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  height: 75vh;
  background: black;
  position: relative;
  z-index: 1;
}

.video__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video__cover {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: #232a34;
  opacity: 0.7;
}

.about__title {
  color: white;
  margin-top: 50px;
  font-size: 60px;
  font-weight: 701;
  z-index: 99;
}

.about__services {
  display: flex;
}

.services__link {
  margin: 30px;
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
  z-index: 99;
}

.about input {
  color: black;
}

.book__cover {
  margin-top: 10px;
  height: 40%;
  width: 80%;
}

.about__message {
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
}

.explore__btn {
  z-index: 99;
  background-color: #18504c !important;
  border: none !important;
}

.explore__btn:hover {
  background: white !important;
  color: #18504c !important;
}

.about__content {
  z-index: 99;
  color: white;
  font-size: 20px;
}

.search__content {
  width: 50%;
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 25px 0px;
  box-shadow: 10px 8px 8px #155e58;
}

.searchBar {
  position: relative;
  z-index: 99;
  padding: 20px;
  border: none;
  border-radius: 25px 0px 0px 0px;
  font-size: 20px;
  outline: none;
  color: black;
  width: 95%;
}

.search__icon {
  color: black;
  background-color: teal;
  width: 100%;
  font-size: 70px !important;
  border-radius: 0px 0px 25px 0px;
  cursor: pointer !important;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .about__title {
    font-size: 30px;
  }
  .about__content {
    font-size: 10px;
  }
  .searchBar {
    font-size: 15px;
  }
}
