.about{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    height: 70vh;
    background: violet;
}

.search_input{
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.about_title{
    color: white;
    font-size: 60px;

}

