.faq {
  background: #f5f5f7;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.cards {
  display: flex;
  /* justify-self: center;
  align-items: center; */
  overflow: hidden;
}

.trending__title {
  margin-top: 20px;
}
.trending {
  color: black;
  font-weight: 700;
}
