.navbar-first {
  height: 50px;
  font-size: 15px;
  background: #28918a !important;
}

.navbar-second {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  height: 70px;
  width: 100%;
  background: #f7f8fa !important;
}

.navbar-logo {
  color: black !important;
  font-size: 40px !important;
  font-weight: 700 !important;
  margin-left: 30px;
  flex: 0.8;
}

.navbar-icons {
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
}

.nav_link:hover {
  color: white !important;
  border-bottom: 1px solid white;
}

.signup-btn {
  color: white !important;
  border: 1px solid white !important;
}

.signup-btn:hover {
  color: #28918a !important;
  background: white !important;
}
