.navbar__first {
  height: 50px;
  font-size: 15px;
  background: #28918a !important;
}

.navbar__second {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  height: 70px;
  width: 100%;
  background: #f7f8fa !important;
}

.navbar__logo {
  color: black !important;
  font-size: 40px !important;
  font-weight: 700 !important;
  margin-left: 30px;
  flex: 0.8;
  text-decoration: none !important;
}

.navbar__logo {
  text-decoration: none;
  cursor: pointer;
}

.navbar__icons {
  margin-top: 8px;
  justify-self: flex-end;
  display: flex;
  cursor: pointer;
}

.nav__link:hover {
  color: white !important;
  border-bottom: 1px solid white;
}

.signup__btn {
  color: white !important;
  border: 1px solid white !important;
}

.signup__btn:hover {
  color: #28918a !important;
  background: white !important;
}

.navbar__logoLink {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.cart {
  font-size: 25px;
}
